@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body{
background-color: #eee;

}
.date {
    font-family: 'Source Sans Pro';
    font-weight:300;
}

h1{
    text-align: center;
    font-family: 'Roboto Sab';
    font:900;
    font-weight: 1000%;
    font-size: 300%;
}

nav{
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #eee;
}

li {
    display: inline;
    list-style: none;
    font-family: 'Source Sans Pro';
    color: #777;
    padding-left: 1em;
    padding-right: 1em;
}

a{
    color: #777;
    text-decoration: none;
}

h2{
    font: 'Roboto Slab';
    font-weight: 950px;
    display: inline-flex;
    font-size: 200%;
    margin-bottom: 1px;
}

h5{
    color: red;
    font-weight: bold;
}

h4{
    font-family: 'Roboto Slab';
}

p{
    font-family: 'Source Sans Pro';
    padding-left: 1em;
    padding-right: 1em;
    color: #505050;
}

.images{
    text-align: center;
    width: 100%;
    height: 5%;
}

.more-articles{
    display: inline-flex;
    border-top: solid #eee 1px;
    text-align: justify;
}
.smallerimg{
    width: 100%;
}

#Tabs{
    margin-right: 1em;
}

#caffeine{
    margin-left: 1em;
}
